@{
    ViewData["Title"] = "Add Data";
}

<div class="text-center">
    <h1 class="display-4">Send stock data</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form id="stockform">
    <label for="Symbol">Symbol</label>
    <input name="symbol" type="text" class="form-control" id="symbol" rows="1" value="TEST" />
    <label for="Price">Price</label>
    <input name="price" type="text" class="form-control" id="price" rows="1" value="100" />
    <label for="Volume">Volume</label>
    <input name="volume" type="text" class="form-control" id="volume" rows="1" value="100" />
    <label for="Change">Change</label>
    <input name="change" type="text" class="form-control" id="change" rows="1" value="100" />
    <label for="ChangePercent">ChangePercent</label>
    <input name="changePercent" type="text" class="form-control" id="changePercent" rows="1" value="100" />
    <label for="Date">Date</label>
    <input name="date" type="text" class="form-control" id="date" rows="1" value="2023-03-20T10:54:44.9969319Z" />
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
    stockform.onsubmit = async (e) => {
        e.preventDefault();

        let params = new $('form').serialize();
        await fetch(`https://stocktickerapi.azurewebsites.net/set_stock?${params}`, 
        {
            method: 'POST',
        });
    };
</script>
