<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://stockticker.documents.azure.com:443/" />
    <add key="PrimaryKey" value="wQD9JhuEn1O7rcE2MoB9sgairaMZ25VvYCMIB8t4KN6dshyqF815sN3lIvVgKt4O5vlfhHZsI3BHACDbmWXMqA==" />
  </appSettings>
</configuration>